<!doctype>
<html>
<head>
	<base href="/{{base}}">
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{{hookMeta metas}}}
	{{{hookAssets assets true}}}
</head>
<body>
<app></app>
{{{hookAssets assets false}}}
</body>
</html>
