<!doctype>
<html>
<head>
    <title>{{title}}</title>
    <meta name="message" content="{{token}}">
    <meta name="domain" content="{{domain}}">
    <meta name="type" content="{{type}}">
    <meta charset="UTF-8">
    <script>
        // Fire message.
        window.opener.postMessage( {
            type: document.querySelector( 'meta[name="type"]' ).getAttribute( 'content' ),
            message: document.querySelector( 'meta[name="message"]' ).getAttribute( 'content' )
        }, document.querySelector( 'meta[name="domain"]' ).getAttribute( 'content' ) );

        // Done, hooray!
        window.close();
    </script>
</head>
<body>
    <span>Du wirst angemeldet...</span>
    <br><br>
    <span>In-App Browser von Apps, wie z.B. Facebook, verfügen über einen verringerten Funktionsumfang. Falls du dich gerade über einen solchen Browser versuchst anzumelden, öffne bitte deinen Standardbrowser und gebe {{domain}} ein.</span>
</body>
</html>
